body {
    width: 375px;
    margin: auto;
    font-family: "Roboto", sans-serif;
    ul {
        text-decoration: none;
        list-style: none;
    }
}
.logo-header {
    width: 100%;
    height: 63px;
    position: relative;
    img {
        width: 162px;
        padding: 18px 111px 5px 107px;
    }
}
.location{
        background: #EAEAEA;;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;

        .fa-location-dot{
            font-size: 18px;
            padding: 16px 17px 18px 0;
        }
}

.prez {
    background: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        width: 275px;
        font-size: 24px;
        font-weight: 700;
        line-height: 28px;
        text-align: center;
        padding: 39px 50px 20px 50px;
        margin: 0;
    }
    p {
        font-size: 18px;
        font-weight: 300;
        line-height: 21px;
        text-align: center;
        margin: 0;
    }
    button {
        width: 218px;
        text-decoration: none;
    }
}



.fonction {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    width: 100%;
    height: 440px;
    h2 {
        font-size: 24px;
        font-weight: 700;
        padding-top: 48px;
        margin: 0 180px 0 20px;
    }
    .fonction__box {
        position: relative;
        margin-left: 7px;
        width: 88%;
        height: 73px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #F7F7F7;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
        font-size: 16px;
        font-weight: 500;
        .fonction__box--pin {
            position: absolute;
            right: 310px;
            border-radius: 100%;
            padding: 8px 12px 6px 11px;
            line-height: 17px;
            color: white;
            background: #9356DC;
        }
        .fonction__box--ico{
            position: absolute;
            right: 273px;
            font-size: 16px;
            line-height: 17px;
            color: #7E7E7E;
        }
    }
}
