footer {
    position: relative;
    width: 100%;
    height: auto;
    background: $color_background;
    display: flex;
    flex-direction: column;
    img {
        width: 120px;
        filter:invert(100%);
        margin: 22px 0 16px 25px
    }
    .footer_info {
        color: #FFF;
        margin: 0 0 33px 25px;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 7px;
        a {
            text-decoration: none;
            color: #FFF;
            gap: 7px ;
            i {
                text-align: left;
                width: 32px;
            }
            &:hover{
                background: darken($color: #FFF, $amount: 0.2);
                background-clip: border-box;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

    }
}

// ---------------- Media Queries ------------------ //

// - Tablette - //
@media (min-width: 768px) {
    footer {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
        img {
            width: 119px;
            height: 19px;
        }
        .footer_info {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            column-gap: 40px;
            margin: 20px;
        }
    }
}

// - Desktop -  //
@media (min-width: 992px) {
    footer {
        flex-direction: row-reverse;
        justify-content: flex-start;
        gap: 40px;
        img {
            margin: 57px 25px 30px 0;
            width: 139px;
            height: 27px;
        }
        .footer_info {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 32px;
            margin: 57px 25px 30px 0;
        }
    }    
}