// - COEUR - //

.heart__container {
    & i {
        position: absolute;
        font-size: 28px;
        bottom: 23px;
        right: 12px;
        font-size: 28px;
        transition: all 400ms ease-in-out;
    }

    & .heart_full {
        background-image: $gradient;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        opacity: 0;
    }

    &:hover .heart_full {
        opacity: 1;
    }
}

.heart__container_card {
    & i {
        position: absolute;
        font-size: 28px;
        bottom: 25px;
        right: 25px;
        font-size: 28px;
        transition: all 400ms ease-in-out;
    }

    & .heart_full {
        background-image: $gradient;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        opacity: 0;
    }

    &:active .heart_full {
        opacity: 1;
    }
}