a:visited {
  text-decoration: none;
  color: black;
}

body {
  width: 375px;
  margin: auto;
  font-family: "Roboto", sans-serif;
}

.logo-header {
  width: 100%;
  height: 63px;
  position: relative;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
.logo-header img {
  width: 162px;
  padding: 18px 111px 5px 107px;
}

.location {
  background: #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.location .fa-location-dot {
  font-size: 18px;
  padding: 16px 17px 18px 0;
}

.prez {
  background: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.prez h1 {
  width: 275px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  padding: 39px 50px 20px 50px;
  margin: 0;
}
.prez p {
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
  text-align: center;
  margin: 0;
}
.prez .btn {
  width: 218px;
  height: 50px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(-15deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 83%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  margin: 27px 0 60px 0;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 200ms;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  line-height: 50px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}
.prez .btn:hover {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
  transform: scale(1.01);
  filter: brightness(115%);
}

.fonction {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  width: 100%;
  height: 440px;
}
.fonction h2 {
  font-size: 24px;
  font-weight: 700;
  padding-top: 48px;
  margin: 0 180px 0 20px;
}
.fonction .fonction__box {
  position: relative;
  margin-left: 7px;
  width: 88%;
  height: 73px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F7F7F7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  font-size: 16px;
  font-weight: 500;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 150ms;
}
.fonction .fonction__box .fonction__box--pin {
  position: absolute;
  right: 312px;
  border-radius: 100%;
  padding: 8px 12px 6px 11px;
  line-height: 17px;
  color: white;
  background: #9356DC;
}
.fonction .fonction__box .fonction__box--ico {
  position: absolute;
  right: 273px;
  width: 20px;
  height: 20px;
  font-size: 16px;
  line-height: 17px;
  text-align: center;
  color: #7E7E7E;
}
.fonction .fonction__box:hover {
  background: #F5EDFF;
  color: #9356DC;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
  transform: scale(1.02);
}

#restaurants {
  width: 100%;
  height: 1300px;
  background: #fafafa;
}
#restaurants h2 {
  font-size: 24px;
  font-weight: 700;
  padding-top: 48px;
  margin-left: 20px;
}

.container__card__resto {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 38px;
}

.card__resto {
  position: relative;
  width: 90%;
  height: 251px;
  border-radius: 25px;
  background: #FFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  transform: scale(1);
  transition-property: transform;
  transition-duration: 150ms;
  text-decoration: none;
  color: black;
}
.card__resto:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}
.card__resto .card__resto--img {
  width: 100%;
  height: 174px;
  border-radius: 25px 25px 0 0;
  object-fit: cover;
}
.card__resto .card__resto--info {
  width: 80%;
  height: 77px;
  margin: 12px 0 0 13px;
}
.card__resto .card__resto--info h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  margin: 0;
}
.card__resto .card__resto--info p {
  font-size: 17px;
  font-weight: 300;
  line-height: 20px;
  margin: 0;
  padding-top: 5px;
}
.card__resto .card--heart {
  position: absolute;
  object-position: right;
  right: 25px;
  bottom: 27px;
  font-size: 26px;
}
.card__resto .card--heart--full {
  position: absolute;
  object-position: right;
  right: 25px;
  bottom: 27px;
  font-size: 26px;
  color: red;
  visibility: hidden;
  filter: drop-shadow(0 0 2px crimson);
}
.card__resto .card__resto--new {
  position: absolute;
  right: 13px;
  top: 13px;
}

footer {
  position: relative;
  width: 100%;
  height: auto;
  background: #353535;
  display: flex;
  flex-direction: column;
}
footer img {
  width: 120px;
  filter: invert(100%);
  margin: 22px 0 16px 25px;
}
footer .footer__info {
  color: #FFF;
  margin: 0 0 33px 25px;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
footer .footer__info a {
  text-decoration: none;
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  gap: 7px;
}
footer .footer__info a i {
  text-align: left;
  width: 32px;
}

/* ------Menu pages------ */
.img__menu {
  width: 100%;
  object-fit: cover;
}

.container__menu {
  position: relative;
  margin-top: -32px;
  padding-top: 32px;
  border-radius: 25px 25px 0 0;
  background: #fafafa;
}
.container__menu .container__menu--title {
  display: flex;
  justify-content: space-between;
  margin: 0 17px;
}
.container__menu .container__menu--title h1 {
  font-family: "Shrikhand";
  margin: 0;
}
.container__menu .container__menu--title img {
  padding-right: 24px;
}
.container__menu .container__menu--section {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 25px 13px 0 13px;
}
.container__menu .container__menu--section .type h2 {
  width: 40px;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  padding-bottom: 10px;
  border-bottom: 3px solid #99E2D0;
}
.container__menu .container__menu--section .type .card__menu {
  margin: 0 0 12px 0;
  background: #FFF;
  border-radius: 25px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
  padding: 12px 10px;
  text-decoration: none;
  display: flex;
}
.container__menu .container__menu--section .type .card__menu .card__menu--title {
  width: 85%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.container__menu .container__menu--section .type .card__menu .card__menu--title h3 {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}
.container__menu .container__menu--section .type .card__menu .card__menu--title p {
  font-size: 15px;
  font-weight: 300;
  margin: 0;
}
.container__menu .container__menu--section .type .card__menu .card__menu--price {
  width: 15%;
  text-align: center;
  padding-top: 23px;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
}
.container__menu .container__menu--btn {
  display: flex;
  justify-content: center;
}
.container__menu .container__menu--btn .btn {
  width: 218px;
  height: 50px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(-15deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 83%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  margin: 27px 0 60px 0;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 200ms;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  line-height: 50px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}
.container__menu .container__menu--btn .btn:hover {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
  transform: scale(1.01);
  filter: brightness(115%);
}

/*# sourceMappingURL=style.css.map */
