.img_menu {
    width: 100%;
    height: 275px;
    object-fit: cover;
}
.container_menu {
    position: relative;
    margin-top: -41px;
    padding-top: 32px;
    border-radius: 25px 25px 0 0;
    background: $color_background_bis;
    .container_menu_title {
        display: flex;
        margin: 0 17px;
        position: relative;
    }
}
.container_menu_section {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 25px 13px 0 13px;
    .type {
        h2 {
            width: 40px;
            padding-bottom: 10px;
            margin-bottom: 12px;
            border-bottom: 3px solid $color_tertiary;
        }
    }
}
.card_menu {
    margin: 0 0 12px 0;
    background: #FFF;
    border-radius: 25px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
    text-decoration: none;
    display: flex;

    .card_menu_title {
        width: 88%;
        height: 42px;
        margin: 12px 0 12px 10px;
        overflow: hidden;
        transition: all 400ms ease-in-out;
    }
    .card_menu_price {
        width: 12%;
        margin: 12px 0px;
        padding-top: 25px;
        text-align: center;
        white-space : nowrap;
    }
    .checked {
        opacity: 0;
        width: 0%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $color_tertiary;
        border-radius: 0 25px 25px 0;
        color: #FFF;
        transition: all 400ms ease-in-out;
        transform-origin: right 50%;
    }
    &:hover {
        .checked {
            opacity: 1;
            width: 25%;
        }
        .card_menu_title {
            width: 63%;
            h3, p {
                text-overflow:"..."; 
                white-space: nowrap;
            }
        }
    }

}   
.container_menu_btn {
    display: flex;
    justify-content: center;
}
.heart_page {
    & i {
        position: absolute;
        bottom: 3px;
        right: 12px;
    }
}

.entrees {
    animation: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; 
}
.plats {
    animation: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; 
    animation-delay: 0.3s;
}
.desserts {
    animation: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; 
    animation-delay: 0.6s;
}
@keyframes slide-top {
    0% {
              transform: translateY(200px);
              opacity: 0;
    }
    100% {
              transform: translateY(0);
              opacity: 1;
    }
}
  

// ---------------- Media Queries ------------------ //

// - Tablette - //
@media (min-width: 768px) {
    .container_menu {
        margin: -41px 40px 0 40px;
        .container_menu_title {
            justify-content: center;
        }
    }
    .container_menu_section {
        margin: 25px 80px 0 80px;
    }
    .heart_page {
        & i {
            position: absolute;
            bottom: 3px;
            right: 100px;
        }
    }
}

// - Desktop -  //
@media (min-width: 992px) {
    .container_menu {
        margin: -41px 120px 0 120px;
        .container_menu_title {
            justify-content: center;
        }
    }
    .container_menu_section {
        margin: 25px 180px 0 180px;
    }
    .heart_page {
        & i {
            position: absolute;
            bottom: 3px;
            right: 200px;
        }
    }
}