// - COULEUR - //
$color_1: #9356DC;
$color_2: #FF79DA;
$color_3: #99E2D0;
$color_4: #353535;
$color_5: #fafafa;
$gradient: linear-gradient(190deg, $color_1 0%, $color_2 70%);

// - FONTS - //
$font_1: "Roboto";
$font_2: "Shrikhand";
