// - COULEUR - //
$color_primary: #9356DC;
$color_secondary: #FF79DA;
$color_tertiary: #99E2D0;
$color_background: #353535;
$color_background_bis: #fafafa;
$gradient: linear-gradient(190deg, $color_primary 0%, $color_secondary 70%);

// - FONTS - //
$font_primary: "Roboto";
$font_secondary: "Shrikhand";